<!DOCTYPE html> 
<html>
<head>
	<title>Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	#{stylesheet 'jquery.mobile-1.4.5.min.css' /}
	#{stylesheet 'font-awesome-4.6.3/css/font-awesome.css' /}
	
	#{script 'jquery-1.12.4.min.js' /}
	#{script 'jquery.mobile-1.4.5.min.js' /}
	#{script 'jquery.number.min.js' /}
		
	#{script 'moment-2.15.1.min.js' /}
	
	#{script 'highcharts-6.1.0.js' /}
	#{script 'summaryCharts.js' /}
	
	
<style>
#all-accounts-pie{position:absolute; top:55px; left:255px; width:96px;}
#taxable-ytd-dividend-chart{position:absolute; top:184px; left:255px; width:96px;}
#retirement-ytd-dividend-chart{position:absolute; top:364px; left:140px; width:96	px;}
#retirement-portfolio-chart{position:absolute; top:379px; left:255px; width:96px;}
.ui-content-stock{ background-color:#ffffff; margin:10px; padding:.2em; }
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: #e9e9e9;
}    
.grp-hdr{font-size:17px; font-weight:bold; vertical-align:bottom;}
.grp-subhdr{font-size:12px; width:155px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.grp-val{color:#0000ff; font-size:15px;}
.histyear{color: blue; cursor:pointer; font-size:.8em;}
table td{
font-family:sans-serif;
font-size:12px;
}
#history-table th{font-size:.9em;}
#history-table td{font-size:.8em;}
#history-table tr:nth-child(even) { background-color: #f2f2f2; }
.holding-value-loss{
font-family:sans-serif;
font-size:12px;
 border-radius: 5px; 
 box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);
 background-color: #FFFFFF;
 height:15px;
 width:80px;
 text-align:right;
 background-image: linear-gradient(-60deg, #FF0000 0%, #e0b1b1 100%);
 color:#ffffff;
 padding:4px;
}
.holding-value-gain{
font-family:sans-serif;
font-size:12px;
 border-radius: 5px; 
 box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);
 background-color: #FFFFFF;
 height:15px;
 width:80px;
 text-align:right;
background-image: linear-gradient(-60deg, #00721c 0%, #a4c1ab 100%);
 color:#ffffff;
 padding:4px;
 
 
}

.ui-dialog-contain{
    max-width:600px;
    width:95%;
}
</style>


<script>

Highcharts.setOptions({
    colors: [ '#50B432', '#058DC7', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
 });
 
 
function Holding( rec ){
	this.rec = rec;
	
    this.getValue = function(){       
    	if(this.rec.shares === 0) return 0;
    	return this.rec.value;
    }  
    
    this.getDividend = function( date_or_year ){
    	return this.getGain( date_or_year, true );
    }
    
    this.getGain = function( date_or_year, divonly ){ 
    	
    	var start_date = "";
    	var end_date = "";
    	
    	// get all dividends ever paid
    	if(date_or_year == null) {
    		start_date = "1900-01-01";
    		end_date = "2999-12-31";
    		date_or_year = "*";
    	}
    	
    	if(typeof date_or_year === 'object'){
    		date_or_year = date_or_year.format("YYYY-MM-DD");
    	}
    	
    	if(date_or_year.toString().length == 4){
    		start_date = date_or_year + "-01-01";
    		end_date = date_or_year + "-12-31";
    	}
    	
    	if(date_or_year.toString().length == 10){
    		start_date = moment(date_or_year).startOf('year').format("YYYY-MM-DD");
    		end_date = date_or_year;
    	}
    	
    	start_date = moment(start_date);
    	end_date = moment(end_date);
    	
    	var gain = 0;
    	var dividend = 0;
    	 
    	$.each( this.rec.history, function( index, histrec ) {
        	
    		if(histrec.activity_type == "dividend" || histrec.activity_type == "lt gain" || histrec.activity_type == "st gain"){    			 
    			if(moment(histrec.activity_date).isBetween( start_date, end_date )){
    				dividend+=Number(histrec.shares) * Number(histrec.price);
    			}
    		}
    		if(histrec.activity_type == "buy"){
    			if(moment(histrec.activity_date).isBetween( start_date, end_date )){
    				gain+=Number(histrec.gain_loss);
    			}
    		}
    	});

    	if(divonly) 
    		return dividend;
    	else 
    		return gain + dividend;
    }
}
 
function Portfolio( _id, _name ){
	this.id = _id;
	this.name = _name
	this.current_value= 0;
	this.realized_gain_loss=0;
	this.dividends=0;
	this.dividends_ytd=0;
	this.dividends_pytd=0;
	this.dividends_py=0;
	this.holdings = [];
	
	this.addHolding = function( h ){
		this.holdings.push( h );
	}
	this.getHolding = function( ticker ){
		
		var hold;
		$.each( this.holdings, function( index, h ) {
			if(h.rec.ticker === ticker) {
				hold = h;
				return false; ///aka...break				
			}
		});
		return hold;
	}
	
    this.getValue = function(brokerage){

    	var value = 0;
    	$.each( this.holdings, function( index, h ) {
    		if(brokerage == null || h.rec.brokerage == brokerage)
    	    	value+= h.getValue();    		
    	});
    	return value;
    }

    this.getGain = function( date_or_year, divonly ){
    	if(divonly == null) divonly = false;
    	
    	var gain = 0;
    	$.each( this.holdings, function( index, h ) {
    		gain+= h.getGain( date_or_year, divonly );
    	});  	
    	return gain;    	
    } 
    
    this.toString = function(){
		console.log("Portfolio: " + this.id + ", " + this.name)
    }
     
    this.getDividend = function( date_or_year ){
    	return this.getGain( date_or_year, true );
    }
} 

var portfolios = [];
portfolios[1] = new Portfolio(1, 'Taxable');
portfolios[2] = new Portfolio(2, 'Retirement');

var dt = moment().format("YYYY-MM-DD");
var yr = moment().year();

$( document ).ready(function() {	    	
	
	$.getJSON( "rest?hnd=newsummary", function( data ) {		 
	 
		// build each portfolio
	    $.each( data, function( index, rec ) {
			console.log( rec );
			
	    	try{
	    		var h = new Holding( rec );
	    		var portfolio = portfolios[rec.portfolio];
	    		portfolio.addHolding( h );
 	    	}
	    	catch{
	    		console.log("exception: error processing history record");
	    		//console.log(histrec)
	    	}
	    });
			/*    
		console.log(portfolios[1].getValue());		 
	    console.log(portfolios[2].getValue());
	    console.log(portfolios[1].getGain());
	    console.log(portfolios[2].getGain());
	    console.log("-----------------------");
	    console.log(portfolios[1].getDividend());
	    console.log(portfolios[2].getDividend());
	    console.log(portfolios[2].getDividend('2018-04-01'));
  
	    var o = portfolios[2].getHolding('VWENX');
	    console.log(o)
		console.log("VWENX dividend all time: " + o.getDividend())
		console.log("VWENX dividend current year: " + o.getDividend(2018))
		console.log("VWENX dividend 2016: " + o.getDividend(2016))
		*/
		
	    // populate the overview
		var totalValue = 0;
		var totalGain = 0;
		$.each( portfolios, function( index, p ) {
		    
			if(p == null ) return true; // aka... continue

		    $("#" + p.name.toLowerCase() + "-value").text('$' + $.number(p.getValue(),2))
            $("#" + p.name.toLowerCase() + "-total-dividends").text('Total Dividends: $' + $.number(p.getDividend(),2))
            
            var pct = (p.getDividend( yr )- p.getDividend( moment().subtract(1, 'years') )) / p.getDividend( yr ) * 100;			
		    $("#" + p.name.toLowerCase() + "-ytd-dividends").html('Total Dividends PY/YTD: $' + $.number(p.getDividend( moment().subtract(1, 'years') ),2) +" / $" + $.number(p.getDividend( yr ),2) + "  " + $.number(pct,2) + "%" );
		    
		    $("#" + p.name.toLowerCase() + "-realized-gain").text('Total Realized Gain: $' + $.number(p.getGain(),2))
		    
		    totalValue+=p.getValue();
		    totalGain+=p.getGain();
		});
		
	    
	    $("#total-value").text('$' + $.number(totalValue,2));
	    $("#total-realized-gain").text('Total Gains: $' + $.number(totalGain,2))	

	    buildSummaryCharts( portfolios );

	    //loadPortfolio(2)
	    //loadHistory("VWENX")
	    
	});
	
	
	$('[id*=chart]').on("click", function(event){
		  event.stopPropagation();
		  console.log( "I was clicked, but my parent will not be." );
	});
	
}); //end on ready

function filterhistory(year){

	if(year == 0){
		$('#history-table').DataTable()
		  .columns( 3 )
	      .search( '-' )
	      .draw();
	}
	else{    	
    	$('#history-table').DataTable()
    	    .columns( 3 )
    	    .search( year )
    	    .draw();
	}

}

function loadHistory( ticker, _year ){
	console.log( ticker )

	if(_year == null) _year = yr;
	
	var p = portfolios[1];	
	var holding = p.getHolding(ticker);
	if(holding == null){
		p = portfolios[2];
		holding = p.getHolding(ticker);
	}
	
	console.log(holding);
	/*
    if($.fn.dataTable.isDataTable("#history-table")){
   	 var tbl = $('#history-table').DataTable();
   	 $('#history-table').empty();
   	 tbl.destroy();
    }
    */
    $('#history-table').empty();
    var hdr = "<tr><th style='width:75px;'>Date</th><th style='width:70px;'>Type</th><th style='width:65px;'>Shares</th><th style='width:65px;'>Price</th><th style='width:65px;'>Shares<br/>Sold</th><th style='width:75px;'>+/-</th><th></th></tr>";
    $('#history-table').append(hdr);
	 
    /*
    var years= "";
    $.each( historytable.rows().data(), function( key, o ) {
        if(o.activity_date.substring(0,4) != years ){						        	
        	if(years != "") yearLinks += " | <span class='histyear' onclick='filterhistory(" + years + ");'>" + years + "</span>"
        	years = o.activity_date.substring(0,4);
        }
    });
    yearLinks += " | <span class='histyear' onclick='filterhistory(" + years + ");'>" + years + "</span>"
    
    $('#holding-history-title').html("Transaction history for " + data.name + " (" + data.ticker + ")<br/>" + yearLinks);
    */
    var years = [];
    var yearLinks = [];
	$.each( holding.rec.history, function( index, histrec ) {	
		//console.log(histrec);
		var histyear = histrec.activity_date.substring(0,4);
		if($.inArray(histyear, years) == -1){
			years.push(histyear)
			yearLinks.push("<span class='histyear' onclick='loadHistory(\"" + ticker + "\"," + histyear + ");'>" + histyear + "</span>")
		}
		
		if(histyear != _year) {			
			return true;
		}
		
		var sold = ( (histrec.activity_type == "buy" || histrec.activity_type == "drip") && histrec.shares_sold > 0 ) ? $.number(histrec.shares_sold,4) : "--";
		var gain_loss = ( (histrec.activity_type == "buy" || histrec.activity_type == "drip") && histrec.shares_sold > 0 ) ? + histrec.gain_loss : "--";
		var price = (histrec.activity_type == "dividend") ? $.number(histrec.price,5) : $.number(histrec.price,2);
		if(histrec.activity_type == "dividend" || histrec.activity_type == "st gain" || histrec.activity_type == "lt gain") gain_loss = histrec.gain_loss;
		if(gain_loss < 0) gain_loss ="<span style='color:red;'>($" + $.number(gain_loss*-1,2) + ")</span>";
		else if(gain_loss >= 0) gain_loss ="<span style='color:green;'>$" + $.number(gain_loss,2) + "</span>";
		//content.push(histrec);
		
		var del = (histrec.activity_type == "drip") ? "" : "<i class='fa fa-trash-o fa-lg ico-trash' aria-hidden='true'></i>"; 
		
		$('#history-table tr:last').after("<tr><td>" + histrec.activity_date + "</td>" +
				                               "<td>" + histrec.activity_type + "</td>" +
				                               "<td align='right'>" + $.number(histrec.shares,4) + "</td>" +
				                               "<td align='right'>$" + price + "</td>" +
				                               "<td align='right'>" + sold + "</td>" +
				                               "<td align='right'>" + gain_loss + "</td>" +
				                               "<td align='center'>" + del + "</td></tr>");
	});
	
	/*
	
	var historytable = $('#history-table').DataTable( {
	        data: content
	        ,sDom: '<"top"i>rt<"bottom"lp><"clear">' //hide the search box ("f" is not in top or bottom)
	     	,searching: true
		    ,info:false
			,lengthChange:false
		    ,paginate:false
	        ,columns: [
	        	{ data: "id", visible:false },
	        	{ data: "ticker", visible:false },
	        	{ data: "brokerage_id", visible:false },
	            { data: "activity_date" },
	            { data: "activity_type" },
	            { data: "shares" , className: "dt-right",render: function ( data, type, row ) { if(data=='----') return data; else return $.number(data,4); } },
	            { data: "price", className: "dt-right", render: function ( data, type, row ) { if(data=='----') return data; else return '$' +$.number(data,4); } },
	            { data: "shares_sold", className: "dt-right", render: function ( data, type, row ) { if(data=='----') return data; else return $.number(data,2); } },
	            { data: "gain_loss", className: "dt-right", createdCell: function(td, cellData, rowData, row, col) { if(cellData == '----'){}else if(Number(cellData)<0){ $(td).css('color','red'); } else { $(td).css('color','green'); }}, render: function ( data, type, row, meta ) { if(data=='----') return data; else return '$' +$.number(data,2); } },
	            { "targets": 9, "width":"140px", "orderable":false, "data":null, render: function ( data, type, row ) { if(row.activity_type == "drip"){ return ""; } else{return "<i class='fa fa-trash-o fa-lg ico-trash' aria-hidden='true'></i>" } } }
	        ]
	        ,order: [[ 2, "asc" ]]
	     	,destroy:true
	     	,initComplete: function(settings,json){
	     		
			    // update modal title
			    
			    var yearLinks = "<span class='histyear' onclick='filterhistory(0);'>All</span>"
			    						  
			    var years= "";
			    $.each( historytable.rows().data(), function( key, o ) {
			        if(o.activity_date.substring(0,4) != years ){						        	
			        	if(years != "") yearLinks += " | <span class='histyear' onclick='filterhistory(" + years + ");'>" + years + "</span>"
			        	years = o.activity_date.substring(0,4);
			        }
			    });
			    yearLinks += " | <span class='histyear' onclick='filterhistory(" + years + ");'>" + years + "</span>"
			    
			    $('#holding-history-title').html("Transaction history for " + data.name + " (" + data.ticker + ")<br/>" + yearLinks);
	     		
	     		
			 	//var filteredData = historytable
		 	    //.column( 2 )
		 	    //.data()
		 	    //.filter( function ( value, index ) {
		 	    //	console.log(value.substring(0,4) == yr)
		 	    //    //return (value.substring(0,4) == yr) ? true : false;
		 	    //	return false;
		 	    //} );
	     		 
	     	}
    });	
	
	 */

	
	$("#modal-history-years").empty().html( yearLinks.join(" | " ));
	 
	$.mobile.changePage("#modal-history", {
       role: "dialog"  // show #page2 as dialog
       ,transition: "slidedown"
    })
    $("#modal-history-title .ui-title").html( ticker )
}


function loadPortfolio( id ){
	var p = portfolios[id];
	var o = $("#" + p.name.toLowerCase() + "-summary-content");
	o.empty();
	 
	
	$.mobile.navigate( "#" + p.name.toLowerCase() + "-summary" );
	
	$("#btn-" + p.name.toLowerCase() + "-holdings").addClass("ui-btn-active").click();
	 
	$.each( p.holdings, function( index, h ) {
//		var rec = p.holdings[key];


		if(h.rec.shares > 0){
			//console.log(h)
			//console.log(h.rec.value)
			//console.log((h.rec.shares * h.rec.basis))			
			var current_gain_loss = h.rec.value - (h.rec.shares * h.rec.basis);
			var cls_gain_loss = (current_gain_loss >= 0) ? 'gain' : 'loss';
			//console.log((h.rec.shares * h.rec.basis))			
			//console.log("*******")
			
			o.append('<div role="main" class="ui-content-stock" onclick="javascript:loadHistory(\'' + h.rec.ticker + '\');">' +
			         '<table width="100%" border=0>' +
			         '<tr><td class="grp-hdr" rowspan=2 style="width:95px;">' + h.rec.ticker + '</td><td align="right">$' + $.number(h.rec.current_price,2) + '</td><td align="right" style="width:95px;">' + $.number(h.rec.shares,4) + '</td></tr>' +
			         '<tr><td align="right">basis $' + $.number(h.rec.basis,2) + '</td><td align="right">$' + $.number(h.getValue(),2) + '</td></tr>' +
			         '<tr><td colspan=2><div class="grp-subhdr">' + h.rec.name + '</div></td><td align="right"><div class="holding-value-' + cls_gain_loss + '">$' + $.number(current_gain_loss,2) + '</div></td></tr>' +
			         '</table></div>'
			);
			/*
			o.append('<div role="main" class="ui-content-stock" onclick="javascript:loadHistory(\'' + h.rec.ticker + '\');">' +
					 '<table width="100%"><tr><td nowrap><span class="grp-hdr">' + h.rec.ticker + '</span><br/>' +
					 '<div class="grp-subhdr" style="width:135px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;">' + h.rec.name + '</div>' +
					 '</td>' + 
					 '<td align="right" width="150">' + $.number(h.rec.shares,4) + ' / $' + $.number(h.getValue(),2) + '<br/>$' + $.number(h.rec.price,2) + '<br/>$' + $.number(h.rec.basis,2) + '</td>' +
					 '<td align="right" width="100">$' + $.number(h.getGain(),2) + '<br/>000.00<div class="holding-value-' + cls_gain_loss + '">$' + $.number(current_gain_loss,2) + '</div></td>' +
					 '</tr></table>' +
				     '</div>');
			*/
		}
		return true; //aka...continue
		
		
		var company = "";
		var brokerage = 0;
		var portfolio_id = 0;
		var current_shares = 0;
		var current_price = 0;
		var total_cost = 0;
		var dividend_gain = 0;
		$.each( p.history, function( subindex, histrec ) {	
			if(histrec.ticker != rec) return true; // aka... continue
			company = histrec.company_name;
			if(rec == "MMM") console.log(histrec);
			if(histrec.activity_type == "buy" || histrec.activity_type == "drip"){
				current_shares += histrec.shares - (histrec.shares_sold||0)	
				total_cost += (histrec.shares - (histrec.shares_sold||0) ) * histrec.price
			}
			else if(histrec.activity_type == "dividend" ){
				dividend_gain += histrec.shares * histrec.price;				
			}
			current_price = histrec.current_price;
		});
		
		var current_value = current_shares * current_price;
		var cost = current_shares * cost_basis;
		var cost_basis = total_cost / current_shares;
		var current_gain_loss = current_value - (current_shares *cost_basis);
		var totalgain = current_gain_loss + dividend_gain;		
		var cls_gain_loss = (current_gain_loss >= 0) ? 'gain' : 'loss';
		 
		/*
		activity_date:"2018-02-15"
		activity_type:"buy"
		brokerage_id:1
		current_price:216.05
		gain_loss:94.9456
		portfolio_id:1
		price:171.6399
		shares:19
		shares_sold:4
		ticker:"AAPL"
		*/	

	});
	
	/*
		<div role="main" class="ui-content-stock" >
		<span class='grp-hdr'>AAPL</span><br/>
		<span class='grp-subhdr'>Apple</span><br/>
	</div> 
	<div role="main" class="ui-content-stock"" >
		<span class='grp-hdr'>T</span><br/>
		<span class='grp-subhdr'>AT&T</span><br/>
	</div><!-- /content -->
	<div role="main" class="ui-content-stock" >
		<span class='grp-hdr'>WM</span><br/>
		<span class='grp-subhdr'>Waste Management</span><br/>
	</div><!-- /content -->
	*/
	
	
}
</script>


</head>

<body>
<!-- Start of first page -->
<div data-role="page" id="foo">

	<div data-role="header">	    
		<h1>Portfolios</h1>
	</div><!-- /header -->

<!--
	<div role="main" class="ui-content ">
		<p>I'm first in the source order so I'm shown as the page.</p>
		<p>View internal page called <a href="#bar">bar</a></p>
		<p>View internal page called <a href="#mypanel">open panel</a></p>
	</div> /content -->

	<div role="main" class="ui-content" style=" background-color:#ffffff; margin:10px; ">
		<div id="all-accounts-pie"></div>
		<span class='grp-hdr'>All Accounts</span><br/>
		<span class='grp-subhdr'>Current Value</span><br/>
		<span id="total-value" class='grp-val'>----</span>
		<hr/>
		<span id="total-realized-gain" class='grp-subhdr'>Total Gains: $----.--</span><br/>
	</div><!-- /content -->



	<div role="main" class="ui-content" style=" background-color:#ffffff; margin:10px; " onclick='javascript:loadPortfolio(1);'>
	    <div id="taxable-ytd-dividend-chart"></div>
		<span class='grp-hdr'>Taxable</span><br/>
		<span class='grp-subhdr'>Current Value</span><br/>
		<span id="taxable-value" class='grp-val'>----</span>
		<hr/>
		<span id="taxable-realized-gain" class='grp-subhdr'>Total Realized Gain: $----.--</span><br/>
		<span id="taxable-total-dividends" class='grp-subhdr'>Total Dividends: $----.--</span><br/>
		<span id="taxable-ytd-dividends" class='grp-subhdr'>Total Dividends PY/YTD: $----.--/$----.--</span><br/>
	</div><!-- /content -->

	<div role="main" class="ui-content" style=" background-color:#ffffff; margin:10px; " onclick='javascript:loadPortfolio(2);'>
	    <div id="retirement-ytd-dividend-chart"></div>
	    <div id="retirement-portfolio-chart"></div>	    
		<span class='grp-hdr'>Retirement</span><br/>
		<span class='grp-subhdr'>Current Value</span><br/>
		<span id="retirement-value" class='grp-val'>----</span>
		<hr/>
		<span id="retirement-realized-gain"class='grp-subhdr'>Total Realized Gain: $----.--</span><br/>
		<span id="retirement-total-dividends" class='grp-subhdr'>Total Dividends: $----.--</span><br/>
		<span id="retirement-ytd-dividends" class='grp-subhdr'>Total Dividends PY/YTD: $----.--/$----.--</span><br/>
	</div><!-- /content -->
	

</div><!-- /page -->

<!-- Start of second page -->
<div data-role="page" id="taxable-summary">

	<div data-role="header" data-theme="a" data-position="fixed">    
	    <a href="javascript:$.mobile.navigate( '#foo' );" class='fa fa-lg fa-arrow-left' aria-hidden='true'></a>
		<h1>Taxable Portfolio</h1>
		<a href="#mypanel" class='fa fa-lg fa-bars' aria-hidden='true'></a>		
	</div><!-- /header -->

	<div data-role="tabs" id="tabs">
	<div data-role="navbar">
	  <div class="ui-grid-b ui-responsive">		
		<div class="ui-block-a">&nbsp;</div>
		<div class="ui-block-b" style="text-align:center;">
		  <div data-role="controlgroup" data-type="horizontal" data-mini="true">
		  <ul>
		    <li><a href="#tab-taxable-holdings" id='btn-taxable-holdings' class="ui-btn-active" data-ajax="false" data-role="button">holdings</a></li>
		    <li><a href="#tab-taxable-dividends" id='btn-taxable-dividends' data-ajax="false" data-role="button">dividends</a></li>
          </ul>			  
		  </div>
		</div>
		<div class="ui-block-c">&nbsp;</div>
      </div>
	</div>	
	
		<div id="tab-taxable-holdings" class="">
			<div id="taxable-summary-content"></div>
		</div>
		<div id="tab-taxable-dividends" class="">


		  <div class="ui-grid-a ui-responsive">		
			<div id='taxable-ytd-chart' class="ui-block-a" style="text-align:center;"> YTD charts</div>
			<div class="ui-block-b" style="text-align:center;"> CY BY MONTH</div>
	      </div>			

		  <div class="ui-grid-solo ui-responsive">		
			<div class="ui-block-a" style="text-align:center;"> monthly details</div>
	      </div>			

		  <div class="ui-grid-a ui-responsive">		
			<div class="ui-block-a" style="text-align:center;"> monthly summary</div>
			<div class="ui-block-b" style="text-align:center;"> sector summary</div>
	      </div>			

		  <div class="ui-grid-solo ui-responsive">		
			<div class="ui-block-a" style="text-align:center;"> sankey</div>
	      </div>			
	      
		</div>
		
	</div>
	
	<div data-role="panel" id="mypanel" data-display="overlay" data-position="right">
	    <!-- panel content goes here -->	    
	</div><!-- /panel -->

	
</div><!-- /page -->



<!-- Start of Third page -->
<div data-role="page" id="retirement-summary">

	<div data-role="header" data-theme="a" data-position="fixed">    
	    <a href="javascript:$.mobile.navigate( '#foo' );" class='fa fa-lg fa-arrow-left' aria-hidden='true'></a>
		<h1>Retirement Accounts</h1>
		<a href="#retirement-panel" class='fa fa-lg fa-bars' aria-hidden='true'></a>		
	</div><!-- /header -->

	<div data-role="tabs" id="tabs">
	<div data-role="navbar">
	  <div class="ui-grid-b ui-responsive">		
		<div class="ui-block-a">&nbsp;</div>
		<div class="ui-block-b" style="text-align:center;">
		  <div data-role="controlgroup" data-type="horizontal" data-mini="true">
		  <ul>
		    <li><a href="#tab-retirement-holdings" id='btn-retirement-holdings' class="ui-btn-active" data-ajax="false" data-role="button">holdings</a></li>
		    <li><a href="#tab-retirement-dividends" id='btn-retirement-holdings' data-ajax="false" data-role="button">dividends</a></li>
          </ul>			  
		  </div>
		</div>
		<div class="ui-block-c">&nbsp;</div>
      </div>
	</div>	
	
		<div id="tab-retirement-holdings" class="">
			<div id="retirement-summary-content"></div>
		</div>
		<div id="tab-retirement-dividends" class="">
			dividends :)
		</div>
		
	</div>
	
	<div data-role="retirement-panel" id="mypanel" data-display="overlay" data-position="right">
	    <!-- panel content goes here -->	    
	</div> 

	


	
	<!-- 
	<div data-role="footer" data-position="fixed">
		<div data-role="navbar">
		<ul>
			<li>			
			<a href="#">
			  <span class="ui-btn-inner">
  			    <div class='fa fa-2x fa-plus-square'></div>
			    <div class="ui-btn-text">Add New Holding</div>
			  </span>
			</a>
			</li>
			<li>			
			<a href="#">
			  <span class="ui-btn-inner">
  			    <div class='fa fa-2x fa-money'></div>
			    <div class="ui-btn-text">Update Prices</div>
			  </span>
			</a>
			</li>
 
		</ul>
		</div> 
	</div>
-->
</div><!-- /page -->


<!--  history modal -->
    <div id="modal-history" data-role="dialog" data-transition="flip">
        <div data-role="header" id="modal-history-title"><h1>tmp</h1></div>
        <div data-role="content" id="modal-history-years" style="padding:.5em .5em 0 .5em !important;"></div>        
        <div data-role="content" id="modal-history-content" style="padding:0 .5em 0 .5em !important;">
          <table id="history-table" class="display" style="width:100%" cellpadding="4">
	      </table>   
        </div>
        <a href="index.html" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-a">Close</a>
    </div>
</body>
</html>